*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;}

    
   

   


    .main-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        padding: 13px 4%;
        margin: 20px 25px;
    }
    
    .header-left{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
       
        
    }
    .mucanza{
        width: 110px;
        
    }
    .logo span{
        color: red;
    }
    .nav-links{
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 50px;

    }
    
    .nav-links a{
        text-decoration: none;
        color: #948b8b;
        font-weight: 400;
    }
    .nav-links a:hover{
        color:#e94f57;
        transition: 0.2s;
         font-weight: 400;
         font-weight: bold;
    }
    .shop-menu {
    display: none;
    list-style: none;
    padding-left: 15px;
    background: #fff;
    border-left: 2px solid #ff4d6d; /* Uma linha fina para estilo premium */
}

/* O sub-menu que aparece abaixo de Electrónicos */
.products-submenu {
    display: none;
    list-style: none;
    padding-left: 20px; /* Recuo para parecer uma sub-categoria */
    background: #f4f4f4;    
}
a.subtitulo:hover{
     color:#948b8b
}

/* Classe que o JS vai adicionar para mostrar */
.active-menu {
    display: block !important;
}

/* Ajuste nos links para ficarem um abaixo do outro */
.nav-links li {
    display: block; 
}
a.titulo{
    color: black;
}

   




    .header-right {
    display: flex;
    align-items: center;
    gap: 30px;
    
    
}
.header-icons {
  display: flex;         
  align-items: center;   
  gap: 23px; 
            
}
.search-box {
    position: relative;
    display: flex;
    align-items: center;
}
.search-box input {
    padding: 8px 35px 8px 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
    transition: 0.3s;
    width: 150px; 
    background-color: #fff;
    
}
.search-box input:focus {
    width: 200px; 
    border-color: #f42c37;
}
 .fa-solid{
    position: absolute;
    right: 12px;
    font-size: 14px;
    color: black
}

.fa-solid:hover{
    color: #f42c37;
}


.item img {
  width: 100%;
  display: block;
}
.fa-user{
    font-size: 19px;
    color: #1a1a1a;
    
}

.hero{
    background-color: #1a1a1a;
    height: auto;
    padding: 40px 20px;
    margin: 0 22px;
    border-radius: 17px;
    background-color: #e7e2e2;
    
}
.vitrine{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 15px;
    justify-items: center;
}
.card{
    background-color: white;
    border-radius: 16px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
    

}

.produtos-accao{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    gap: 7px;
    margin-top: 1px;
    width: 200px;
    margin-top: 12px;
}
.linhar{
    display: flex;
    justify-content: center;
     gap: 10px;                              
}
.fa-heart{
    margin-top: 4%;
    align-items: center;
}
.btn{
    background-color: #1a1a1a;
    padding: 8px 1px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    background-color:  #e7e2e2;
    width: 170px;
    color: black;
    text-align: center;
}
.btn-1{
    background-color: #f42c37;
     padding: 8px 1px;
    border-radius: 20px;
    font-weight: 640;
    font-size: 13px;
    text-decoration: none;
    background-color: #1a1a1a;
    width: 170px;
    color: white;
    text-align: center;

}
.btn-1:hover{
    transform: scale(1) translateY(-5px);
    cursor: pointer;
}
.btn:hover{
    transform: scale(1) translateY(-5px);
    cursor: pointer;
}

.descri{
    font-size: 13px;
     margin-top: 2%;
     font-weight: 500;

    
}
.preco{
    font-size: 16px;
    margin-top: 2%;
    font-weight: 700;
}

.image-produto img{
   width: 100%;      
  height: 170px;     
  object-fit: contain;
}
.image-produto img:hover{
    transform: scale(1) translateY(-9px);
    cursor: pointer;
}
.card:hover{
    transform: scale(1) translateY(-5px);
    cursor: pointer;
}
.preco.preco:hover{
color:red;
transform: scale(1) translateX(-5px);
}

